body{
    background-color:#1e1e2f;
    height: 100vh;
}

body *{
   color:#f0f0f0;
}

.soc-icon{
    width: 2rem;
    height: 1.5rem;
    padding: 0%;
}
.soc-butt{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.project{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #292840;
    border: 2px solid #4EBFD9;
    height: 30rem;
    width: 100%;
    gap: 15px ;
    padding: 1rem;
    text-align: start;
    transition: box-shadow 0.3s ease, tranform 0.3s ease;
}
.project:hover{
    box-shadow: 0 0 15px 5px #4EBFD9;
    transform: translateY(-5px);
}
.project p {
    text-align: left;
    font-size: 0.90rem;
    line-height: 1.4rem;
  }


 #pic{
    float: left;
    border: 3px solid slateblue;
    padding: 5px;
    width: 100% ;
    height: 12rem;
    border-radius: 8px;
   
}

.projsen{
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgb(52, 114, 146);
    overflow: auto;
    text-align:start;
    height: 14rem;
    padding: 1.5px;
}

#mysum{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 5px;
    color: black;
}
#mysum *{
    padding: 0;
    margin: 0;
}
#name{
    display: flex;
    width: 75%;
}

.mycontainer{
   display:flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.myExper{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}
.mycard{
   background-color: #3933b3;
    border: 3px solid #4EBFD9;
   height:200px;
}
#mysocials p{
    border: 3px solid black;
    width: 50%;
}
#mytitle{
    display:flex;
    margin: relative;
    background-color:#292840 ;
    border: 2px solid #4EBFD9 ; 
    color: #8449BF;
    width: 75%;
  
}
#mysum{
    border: 2px solid black;
    width: 100%;
}
#navtxt{
    display: flex;
    color:black;
    font-weight: small;
    margin-left: 8px;
}
h1, h2{
    color: #A970FF;
 }

@media (max-width: 970px){
    .mycontainer{
        display: flex;
        flex-direction: column;
    }
    .mysocial-container{
        display:flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        border: 2px solid black;
    }
    .project{
        display:flex;
        flex-direction: row;
        height: 15rem;
        gap: 1rem;
        padding: 1rem;
    }
    #pic {
        width: 50%;
        height: 12.5rem;
        grid-column: 1;
        float: left;
      }
    
      .projsen {
        display: flex;
        flex-wrap: wrap;
        height: 12.5rem;
        margin: 0;
        padding: 0;
        overflow: auto;
      }
}
