#header{
    color: snow;
    text-transform: uppercase;
    text-align: center;
}
p{
    color:snow;
    text-transform: uppercase;
    text-align: center;
}
#header-back{
    background-color: black;
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
    align-items: center; 
    font-family: "Libre Baskerville", serif;
}
#t-imag{
   
    width:100%;
    align-content: center;
    background-color: black;
    border: 5px solid white;
}

body{
    background-color: black;
}