.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.btn-div{
  width: 100%;
}
.btn-roll{
  width: 20%;
  height: 3rem;
  background-color: #4ECCA3;
  border: 2px solid black ;
  font-size: larger;
  font-weight: bolder;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition:  all 0.2s ease-in-out;
}
.btn-roll:hover{
  color:white;
  box-shadow: 5px 5px 15px rgba(157, 93, 202, 0.4) ;
}