body{
    background-color:#8449BF;
    height: 100vh;
}

body *{
   color: white;
}

.soc-icon{
    width: 2rem;
    height: 1.5rem;
    padding: 0%;
}
.soc-butt{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.project{
    display: grid;
    
    border: 4px solid purple;
    height: 70vh;
    width: 100%;
    gap: 20px ;
}
 #pic{
    border: 3px solid blue;
    height: 40vh ;
    padding: 5px;
    width: 100% ;
   
}
.projsen{
    height:200px; 
    width: 100%;
    border: 2px solid white;
   
}

#mysum{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 5px;
    color: black;
}
#mysum *{
    padding: 0;
    margin: 0;
}
#name{
    display: flex;
    width: 75%;
}

.mycontainer{
   display:flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: #292840;
   border: .75rem solid  #292840;
  
}

.mysocial-container{
    display:flex;
    flex-direction: row;
    gap:5px;
    border: 2px solid black;
}

.mysocial{
    display:flex;
    margin-right: 0;
    border: 2px solid black;
    padding:0;
    text-align: center;
}
/*.myProjects{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: black;
    border: 3px solid #4EBFD9;
    height: 400px;
    width: 100%;

}*/

.myProjects{
    display: grid;
    grid-column: 400px 400px 400px 400px;
    grid-row: 200px 200px 200px 200px; 
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    border: 4px solid sandybrown;
}
.myExper{
    display: flex;
    gap: 10px;
    width: 100%;
    border: 2px solid blue;
  
    flex-direction: column;
}
.mycard{
   background-color: aquamarine;
    border: 3px solid #4EBFD9;
   height:200px;
}
#mysocials p{
    border: 3px solid black;
    width: 50%;
}
#mytitle{
    display:flex;
    margin: relative;
    background-color:#292840 ;
    border: 2px solid #4EBFD9 ; 
    color: #8449BF;
    width: 75%;
  
}
#mysum{
    border: 2px solid black;
    width: 100%;
}

@media (max-width: 1200px){
   .mycontainer{
    display: flex;
    align-items: none;
    justify-content: none;
    flex-direction: column;
    gap: 10px;
    border-radius: 1%;
    
   }
   .mysocial-container{
    display:flex;

    flex-direction: column;
    width: 100%;
    gap: 5px;
    border: 2px solid black;
    }
   .project{
    display: flex;
    height: 300px;
   }
   body  *{
    font-size: 1.75rem;
   }
    .projsen{
       width: 100%;
    }
    #pic{
        float:left;
        width: 50%;
        height: 30vh;
        border: 2px solid blue;
    }
}